/* You're now peering behind the curtain.
 * Most of this is written by myself,
 * with a little inspiration from Foundation.
 * 
 * They've got some nifty fallbacks and fixes
 * for cross-browser compatibility that I felt
 * like including.
 *
 * I break things down into components and attempt
 * to keep all my selectors/properties in alphabetical order.
 *
 * I could probably be better about my documentation,
 * but I leave comments when I find it essential.
*/

/* FONTS
     >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


@font-face {
    font-family: NeueHaasGroteskDisp-Bold;
    src: url(../fonts/NeueHaasGroteskDisp-Bold.TTF);
}

@font-face {
    font-family: NeueHaasGroteskText-Italic;
    src: url(../fonts/NeueHaasGroteskText-Italic.ttf);
}

@font-face {
    font-family: Bodoni-BoldItalic;
    src: url(../fonts/Bodoni-BoldItalic.otf);
}

@font-face {
    font-family: Bodoni-Roman;
    src: url(../fonts/Bodoni-Roman.otf);
}

@font-face {
    font-family: Bodoni-Italic;
    src: url(../fonts/Bodoni-Italic.otf);
}

@font-face {
    font-family: fallback1;
    src: local("Helvetica Neue Bold"),
         local("HelveticaNeue-Bold");
    font-weight: bold;
}

@font-face {
    font-family: fallback1-italic;
    src: local("Helvetica Neue Italic"),
         local("HelveticaNeue-Italic");
}

@font-face {
    font-family: fallback1-bolditalic;
    src: local("Helvetica Neue Bold Italic"),
         local("HelveticaNeue-BoldItalic");
    font-weight: bold;
}

@font-face {
    font-family: fallback2;
    src: local("Arial");
    font-weight: bold;
}

@font-face {
    font-family: fallback2-italic;
    src: local("Arial-Italic");
    font-weight: bold;
}

@font-face {
    font-family: fallback3;
    src: local("Georgia");
}

@font-face {
    font-family: fallback3-italic;
    src: local("Georgia Italic");
    src: local("Georgia-Italic");
}

@font-face {
    font-family: fallback4;
    src: local("Georgia Bold");
    src: local("Georgia-Bold");
    font-weight: bold;
}

@font-face {
    font-family: fallback4-italic;
    src: local("Georgia Bold Italic");
    src: local("Georgia-BoldItalic");
    font-weight: bold;
}

/* GENERAL
     >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

a {
        cursor: pointer;
        text-decoration: none;
}

a.svg {
        position: relative;
        display: inline-block;
}

a.svg:after {
        content: ""; 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left:0;
}

body {
        display: none;
        margin: 0;
        padding: 0;
        margin: 0;
        background-color: #f5f5f5;
}

.container {
        overflow:hidden;
}

.flex-grid {
        display: block;
}

html {
        box-sizing: border-box;
        font-family: sans-serif;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        font-size: 100%;
}

.hyperlink:active, .hyperlink:hover {
        /*text-decoration: underline;*/
}

.hyperlink-body {
        font-family: Bodoni-Italic, fallback3-italic;
        color: #222222;
}

img {
        vertical-align: middle;
}

object {
        display: inline-block;
}

ul {
        list-style: none;
        -webkit-margin-before:0em;
        -webkit-margin-after:0em;
}

@media (min-width: 768px) {
        .flex-grid {
            display: flex;
            justify-content: center;
        }
}

/* NAV Component
     >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.inner-heading-ul {
        padding-left: 0;
}

.inner-heading-ul li:nth-child(1){ /*title name*/
        padding-top: 18px;
}

.inner-heading-ul li:nth-child(2){ /*title subheading*/
        display: none;
        margin-left: 12px;
}

.link-container {
        height: 60px;
        line-height: 60px;
        text-align: center;
        vertical-align: baseline;
}/*sets line height of "About," "Portfolio,"
  *and "Resume" section*/


nav {

}

.nav-content-background {
        background-color: #212121;
                -moz-background-clip: padding;
                -webkit-background-clip: padding;
                background-clip: padding-box;
        height: 48px;
        min-width: 100%;
        position: fixed;
        top: 0;
        z-index: 2;
}
.nav-content-background-toggle {
        width: auto;
}

.nav-helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
}


.nav-links {
        background-color: #212121;
        display: none;
        height: 100%;
        position: fixed;
        width: 100%;
        font-family: Bodoni-Italic, fallback3-italic;
        top: 0;
        z-index: 2;
}

.nav-links a {
        
}

.nav-links-content {
        height: initial;
} /*must be set to override user agent
   *stylesheet default property*/

.nav-logo-svg {
        height: 72px;
        width: 72px;
}

.nav-menuclose-svg {
        height: 24px;
        position: absolute;
            right: 21px;
            top: 11px;
        width: auto;
}

.nav-menuicon-svg {
        height: 18px;
        width: 18px;
        position: absolute;
            right: 15px;
            top: 15px;
}

.nav-name-svg {
        height: 15px;
        width: 185.18px;
}

.nav-subheading-svg{
        height: 8.25px;
        width: auto;
}

.outer-heading-ul{
        margin: 0 24px 0 24px;
        max-width: 480px;
        padding: 0;
        position: relative;
}

.outer-heading-ul li{
        display: inline-block;
}

.outer-heading-ul > li:nth-child(1) { /*logo*/
        display: none;
        line-height: 0;
}

.outer-heading-ul > li:nth-child(3){ /*menu icon*/
        height: 48px;
        position: absolute;
            right: -15px;
        width: 48px;
}

.socialicon-svg {
        height: 24px;
        width: auto;
}

.selected-page {
        background-color: #2b2b2b;
}

.ul-wrapper {
        display: block;
        text-align: center;
}

.ul-wrapper ul.pagenav {
        display: block;
        margin: 0 auto; 
        padding-left: 0;
}/*padding-left must be set to override user
  *agent stylesheet default property.
  *margin-top and bottom set to 0 to override
  *IE default properties. margin-right changed to auto;
  *watch for weirdness at mobile and tablet levels.
  */

.ul-wrapper ul.pagenav li {
        border-top: 1px solid #727272;
        display: block;
}

.ul-wrapper ul.pagenav li:nth-child(1) {
        border: none;
}

.ul-wrapper ul.pagenav li a .link-container p {
        color: #eeeeee;
        display: inline;
        font-family: Bodoni-Italic, fallback3-italic;
        font-size: 14px;
        letter-spacing: 1px;
        margin-left: auto;
        margin-right: auto;
}/*targets "About," "Portfolio," and
  *"Resume" section for styling*/

.link-container:active, .link-container:focus, .link-container:hover {
        background-color: #2b2b2b;
}

.ul-wrapper ul.pagenav li:nth-child(1) {
        height: 48px;
        /*margin: 0 24px 0 24px;*/
        max-width: 480px;
        padding: 0;
        position: relative;
}

.ul-wrapper ul.pagenav li:nth-child(4) {
        border-bottom: 1px solid #727272;
}/*targets "Resume" and adds border to separate
  *it from social media icons on mobile nav*/

.ul-wrapper ul.socialicon {
        display: inline-block;
        line-height: 0; /*prevents element from having unwanted bottom space*/
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 0;
        padding-top: 12px;
}/*padding-left must be set to override user
  *agent stylesheet default property*/

.ul-wrapper ul.socialicon li {
        display: inline-block;
        margin-bottom: 12px;
        margin-left: 24px;
        margin-top: 12px;
}

.ul-wrapper ul.socialicon li a {
        width: 24px;
}

.ul-wrapper ul.socialicon li:nth-child(3) { /*change to (4) if behance is included again*/
        margin-right: 24px;
}

@media (min-width: 480px) {
        .nav-menuclose-svg {
            position: absolute;
                right: 21px;
                top: 11px;
        }
        .outer-heading-ul{
            margin: 0 auto;
            padding: 0 24px 0 24px;
        }
        .outer-heading-ul > li:nth-child(3){ /*menu icon*/
            position: absolute;
                right: 9px;
        }
        .ul-wrapper ul.pagenav li:nth-child(1) {
            margin: 0 auto;
            padding: 0 24px 0 24px;
        }
}/*assures the mobile nav stays aligned to the content.
  *Padding cooperates with margin-auto*/

@media (min-width: 530px) {
        .outer-heading-ul{
            padding: 0;
        }
        .outer-heading-ul > li:nth-child(3){ /*menu icon*/
            position: absolute;
                right: -15px;
        }
}/*assures the mobile nav stays aligned to the content.
  *Padding removed when max-width of outer-heading-ul
  *div is achieved*/

@media (min-width: 768px) {
        .nav-content-background{
            height: 188px;
        }
        .nav-content-background-toggle{
            height: 188px;
        }
        .nav-links {
            background-color: none;
            display: block;
            height: auto;
            position: static;/*IE fix*/
            width: auto;
        }
        .nav-links-content {
            border-bottom: 1px solid #727272;
            border-top: 1px solid #727272;
            height: 48px;
        }/*height must be set to override user
          *agent stylesheet default properties*/
        .nav-name-svg { /*title name*/
            height: 20px;
            width: 246.15px;
        }
        .outer-heading-ul {
            display: flex;
            justify-content: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                -webkit-box-align: center;
                align-items: center;
            margin: 0;
            max-width: none; /*originally initial*/
            padding-bottom: 24px;
            padding-top: 24px;
        }
        .outer-heading-ul li {
        }
        .outer-heading-ul li:nth-child(1) { /*logo container*/
            display: inherit;
        }
        .outer-heading-ul li:nth-child(3){ /*menu icon container*/
            display: none;
        }
        .outer-heading-ul li .inner-heading-ul li {
        }
        .outer-heading-ul li .inner-heading-ul li:nth-child(1){
            display: block;
            line-height: 0;
            margin-left: 12px;
            padding-top: 0;
        }
        .outer-heading-ul li .inner-heading-ul li:nth-child(2){ /*title subheading*/
            display: block;
            line-height: 0;
            margin-left: 10px;
            padding-top: 6px;
        }
        .ul-wrapper {
            display: flex;
                justify-content: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    -webkit-box-align: center;
                    align-items: center;
        }
        .ul-wrapper ul.pagenav {
            display: flex;
                justify-content: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    -webkit-box-align: center;
                    align-items: center;
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
        }/*padding-left must be set to override
          *user agent stylesheet default property*/
        .ul-wrapper ul.pagenav li {
            border-left: 1px solid #727272;
            border-top: none;
            display: inline; /*keeps nav text elements in horizontal line*/
        }
        .ul-wrapper ul.pagenav li .link-container {
            height: 48px;
            line-height: 48px;
        }/*sets line height of "About," "Portfolio,"
          *and "Resume" section*/
        .ul-wrapper ul.pagenav li:nth-child(1) {
            display: none;
        }
        .ul-wrapper ul.pagenav li:nth-child(4) {
            border-bottom: none;
            border-right: 1px solid #727272;
        }
        .ul-wrapper ul.pagenav li a .link-container p {
            margin-left: 24px;
            margin-right: 24px;
        }
        .ul-wrapper ul.socialicon {
            display: flex;
            border-right: 1px solid #727272;
            margin-left: 0; /*originally intiial*/
            padding-top: 0; /*originally initial*/
        }
}/*end @media 768*/

@media (min-width: 1024px) {
        .nav-content {
            
        }
        .nav-content-background {
            height: 100%;
            left: 0;
            min-width: 0;
            width: 342px;
            display: flex;
                flex-direction: column;
                justify-content: center;
        }
        .nav-content-background-toggle {
            width: 342px;
        }
        .nav-content-wrapper {
            padding-bottom: 96px;
        }
        .nav-logo-svg {
            height: 84px;
            width: 84px;
        }
        .outer-heading-ul {
            padding-top: 0;
            flex-direction: column;
        }
        .outer-heading-ul li {
            /*display: none;*/
        }
        .outer-heading-ul li .inner-heading-ul li:nth-child(1) { /*title name container*/
            margin-left: 0;
            padding-top: 24px;
        }
        .outer-heading-ul li .inner-heading-ul li:nth-child(1) a {
            width: 246.051px;
            /*setting the width is a shitty fallback
             *for shitty IE not having elements adjust to
             *the widths of contained objects. I've tried
             *searching this for hours and haven't found
             *shit. I bet the answer is simple but it's
             *goddamn impossible to navigate the internet
             *for any sort of help.
             */
        }
        .outer-heading-ul li .inner-heading-ul li:nth-child(2){ /*title subheading*/
            line-height: 0;
            margin-left: 0;
        }
        .ul-wrapper {
            flex-direction: column;
        }
        .ul-wrapper .pagenav {
            margin-right: auto;
        }
        .ul-wrapper .pagenav li {
            margin-right: auto;
        }
        .ul-wrapper ul.socialicon {
            border-right: 0; /*originally intiial*/
            margin: 0 auto;
            padding-top: 12px;
        }
}/*end @media 1024*/

@media (min-width: 1280px) {
        .nav-content-background {
            width: 426px;
        }
}/*end @media 1280*/

@media (min-width: 1462px) {
        /*currently, simply a marker for where flexbox
         *goes back to 2-column on IE.
         */
}

@media (min-width: 1920px) { /*big fuggin monitors*/
        .nav-content-background {
            width: 640px;
        }
        .nav-content-background-toggle {
            width: 640px;
        }
        .nav-links-content {
            height: 60px;
        }
        .nav-logo-svg {
            height: 108px;
            width: 108px;
        }
            
        .nav-name-svg {
            height: 30px;
            width: 369.094px;
        }
            
        .socialicon-svg {
            height: 36px;
            width: 36px;
        }
            
        .nav-subheading-svg{
            height: 12.5px;
            width: 371.484px;
        }
        .outer-heading-ul {
            padding-bottom: 36px;
        }
        .ul-wrapper ul.pagenav li a {
            color: #eeeeee;
            font-family: Bodoni-Italic, fallback3-italic;
            font-size: 21px;
            letter-spacing: 1px;
        }
        .ul-wrapper ul.pagenav li .link-container {
            height: 60px;
            line-height: 60px;
        }/*sets line height of "About," "Portfolio,"
          *and "Resume" section*/
        .ul-wrapper ul.pagenav li a .link-container p {
            font-size: 18px;
            margin-left: 36px;
            margin-right: 36px;
        }
        .ul-wrapper ul.socialicon li {
            margin: 24px 0 24px 36px;
        }
        .ul-wrapper ul.socialicon li:nth-child(3) {
            margin-right: 36px;
        }
        .ul-wrapper ul.socialicon li a {
            width: 36px;
        }
}/*end @media 1920*/

@media (min-width: 2560px) { /*really big fuggin monitors*/
        .nav-content-background {
            /*width: 853px;*/
            width: 50%;
        }
}/*end @media 2560*/

/* END NAV Component
     <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */



/* INDEX CONTENT Component
     <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.content {
        margin-top: 72px;
}

.dividing-line {
        display: block; /*allows for margin:auto*/
        margin: 12px auto 12px auto;
}

.enter-button {
        border: 2px solid #727272;
        display: inline-block;
        height: 48px;
        line-height: 48px;
        padding: 0 24px 0 24px;
}

.enter-button:active, .enter-button:hover {
        background-color: #2b2b2b;
        border: 2px solid #eeeeee;
}

.enter-button-text {
        color: #eeeeee;
        font-family: Bodoni-Italic, fallback3-italic, serif;
        font-size: 14px;
        letter-spacing: 1px;
        margin: 0;
}

.enter-button-wrapper {
        margin: 24px auto 0 auto;
        text-align: center;
}

.flex-wrapper {
        display: flex;
            justify-content: center;
            flex-wrap: wrap;
}

.icon-container {
        border: 1px solid #cccccc;
        display: flex;
            justify-content: center;
        height: auto;
        margin: 0 12px 24px 12px;
        max-width: 480px;
        position: relative;
}

.icon-wrapper {
        /*height: auto !important;*/ /*hotfix in an attempt to cure IE of its sins*/
}

.img-scale {
        height: auto ;
        max-width: 100%;
}

.index-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto 0 auto;
        padding: 0 12px 0 12px;
        max-width: 1032px;
        height: auto;
}

.overlay-content {
        display: none; /*jQuery will change to flex*/
        flex: 1;
            flex-direction: column;
            justify-content: center;
        background-color: rgba(33,33,33,0.95);
        padding: 24px;
        max-width: 100%;
}

.portfolio-icon {
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 480px;
}

.portfolio-icon2 {
        display: block;
        height: auto;
        max-width: 480px;
        width: 100%;
}

.project-overlay {
        background-color: rgba(245,245,245,0.5);
        display: none; /*jQuery will change to flex*/
        position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        padding: 12px;
}

.summary-container {
        text-align: center;
}

.summary-date {
        color: #727272;
        font-family: NeueHaasGroteskText-Italic, fallback1-bolditalic, fallback2-italic, sans-serif;
        font-size: 12px;
}

.summary-description {
        color: #cccccc;
        font-family: NeueHaasGroteskDisp-Bold, fallback1, fallback2, sans-serif;
            font-size: 13px;
        letter-spacing: 1px;
        line-height: 1.5;
        margin: 0;
}

.summary-title {
        color: #f5f5f5;
                font-family: Bodoni-BoldItalic, fallback4-italic, serif;
            font-size: 19px;
        letter-spacing: 1px;
        line-height: 1;
        margin: 0;
}

@media (min-width: 350px) {
        .dividing-line {
            margin: 12px auto 24px auto;
        }
        .enter-button-text {
            font-size: 16px;
        }
        .summary-date {
            font-size: 14px;
        }
        .summary-description {
            font-size: 14px;
        }
        .summary-title {
            font-size: 20px;
        }
}

@media (min-width: 400px) {
        .dividing-line {
            margin: 24px auto 24px auto;
        }
        .project-overlay {
            padding: 18px;
        }
}/*end @media 400*/

@media (min-width: 480px) {
        .enter-button-wrapper {
            margin: 36px auto 0 auto;
        }
        .project-overlay {
            padding: 24px;
        }
        .summary-date {
            font-size: 15px;
            line-height: 2;
        }
        .summary-description {
            font-size: 16px;
        }
        .summary-title {
            font-size: 24px;
        }
}/*end @media 480*/

@media (min-width: 528px) {
        .dividing-line {
            margin: 36px auto 36px auto;
        }
        .enter-button-wrapper {
            margin: 48px auto 0 auto;
        }
        .project-overlay {
            padding: 24px;
        }
        .summary-date {
            font-size: 15px;
            line-height: 2;
        }
        .summary-description {
            font-size: 16px;
        }
        .summary-title {
            font-size: 28px;
        }
}/*end @media 528*/

@media (min-width: 768px) {
        .content {
            margin-top: 212px;
        }
        .content-portfolio { /*Why does this exist here?*/
            margin-top: 188px;
        }
        .dividing-line {
            margin: 24px auto 24px auto;
        }
        .enter-button-wrapper {
            margin: 24px auto 0 auto;
        }
        .flex-wrapper {
            flex-wrap: nowrap;
        }
        .icon-container {
            /*flex: 1 1 auto;*/
            /* difference in behavior between IE and Chrome:
             * "flex-basis: auto;" in IE allows for 2 columns,
             * but does not in Chrome. "flex-basis: 0%;" is the
             * only thing that works in Chrome.
             *
             * Commented out, as it produced an unintended effect
             * of flexing .icon-container of last portfolio icon
             * to full 480px column space
             */
        }
        .project-overlay {
            padding: 18px;
        }
        .summary-date {
            font-size: 14px;
            line-height: 1.5;
        }
        .summary-description {
            font-size: 14px;
        }
        .summary-title {
            font-size: 20px;
        }
}/*end @media 768*/

@media (min-width: 928px) {
        .enter-button-wrapper {
            margin: 36px auto 0 auto;
        }
        .project-overlay {
            padding: 24px;
        }
        .summary-date {
            font-size: 15px;
            line-height: 2;
        }
        .summary-description {
            font-size: 16px;
        }
        .summary-title {
            font-size: 24px;
        }
}/*end @media 928*/

@media (min-width: 1024px) {
        .content {
            margin-left: 342px; /*change if the nav component is set to variable width*/
            margin-top: 24px;
        }
        .dividing-line {
            margin: 18px auto 24px auto;
        }
        .enter-button-text {
            font-size: 16px;
        }
        .enter-button-wrapper {
            margin: 24px auto 0 auto;
        }
        .overlay-content {
            display: none;
        }
        .project-overlay {
            display: none;
            /*opacity: 0;*/
            padding: 12px;
        }
        /*remove opacity properties when jQuery solution
         *is engineered. This is only temporary*/
        .summary-date {
            font-size: 14px;
            line-height: 1.5;
        }
        .summary-description {
            font-size: 14px;
        }
        .summary-title {
            font-size: 20px;
        }
}/*end @media 1024*/

@media (min-width: 1280px) {
        .content {
            margin-left: 426px;
        }
}/*end @media 1280*/

@media (min-width: 1144px) {
        .dividing-line {
            margin: 24px auto 24px auto;
        }
        .project-overlay {
            padding: 18px;
        }
        .summary-title {
            font-size: 24px;
        }
}/*end @media 1144*/

@media (min-width: 1380px) {
        .enter-button-wrapper {
            margin: 36px auto 0 auto;
        }
        .project-overlay {
            padding: 24px;
        }
        .summary-date {
            font-size: 15px;
            line-height: 2;
        }
        .summary-description {
            font-size: 16px;
        }
        .summary-title {
            font-size: 24px;
        }
}/*end @media 1380*/

@media (min-width: 1462px) {
        .dividing-line {
            margin: 36px auto 36px auto;
        }
        .enter-button-wrapper {
            margin: 48px auto 0 auto;
        }
        .project-overlay {
            padding: 24px;
        }
        .summary-title {
            font-size: 28px;
        }
}/*end @media 1462*/

@media (min-width: 1920px) {
        .content {
            margin-left: 640px;
        }
}/*end @media 1920*/

@media (min-width: 2560px) {
        .content {
            margin-left: 50%;
        }
}/*end @media 2560*/

/* END INDEX CONTENT Component
     >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* PORTFOLIO PAGE CONTENT Component
     <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.banner {
        height: 240px;
        margin: auto;
        position: absolute;
            bottom: -9999px;
            left: -9999px;
            right: -9999px;
            top: -9999px;
        width: auto;
}/*position properties center the image within
  *".banner-helper" while keeping the overflow hidden*/

.banner-helper {
        background-color: #cccccc;
        border-bottom: 1px solid #cccccc;
        height: 240px;
        max-width: 100%;
        overflow: hidden;
        position: relative;
}

.banner-wrapper {
        position: absolute;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        top: -9999px;
        margin: auto;
}

.border {
        border: 1px solid #cccccc;
}

.cell {
        display: flex;
            /*justify-content: center;*/ /*removing to fix IE alignment issues*/
        margin-left: 24px;
        margin-right: 24px;
}

.content-intro {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 48px;
}

.content-main {
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
}

.content-portfolio {
        margin-top: 48px;
}

.content-section {
        align-self: center; /*works with display:flex on ".cell"*/
        max-width: 480px;
        /*padding-left: 12px;
        padding-right: 12px;*/
        padding-top: 24px;
}

.divider {
        display: block; /*allows for margin:auto*/
        margin: 42px auto 48px auto;
}

.duo-image .cell:nth-child(1) {
       margin-bottom: 12px; 
}

.feature {
        max-width: 100%;
}

.feature-helper {
        display: block;
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
}

.feature-helper.medium {
        max-width: 720px;
}

.feature-helper.small {
        max-width: 480px;
}

.feature-wrapper {
        margin-left: 24px;
        margin-right: 24px;
}

.feature-wrapper.small {
        margin-left: 0;
        margin-right: 0;
}

.iframe-container {
        position: relative;
        max-width: 100%;
        height: 0;
        padding-bottom: 56.25%;
}

.iframe-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
}

.iframe-wrapper {
        max-width: 850px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 80px;
}

.portfolio-image {
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 480px;
}

.portfolio-image img {
    /*min-width: auto;*/
    width: 100%;
    max-width: 480px;
}/*fix for IE taking .img-scale max-width: 100%
  *to mean break parent's max-width constraints
  */

.portfolio-video {
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 480px;
}

.project-title {
        font-family: NeueHaasGroteskDisp-Bold, fallback1, fallback2, sans-serif;
        font-size: 14px;
        letter-spacing: 1px;
        text-align: left;
        margin-top: 0;
        margin-bottom: 2px;
}

.text-annotation {
        color: #cccccc;
        font-family: Bodoni-Italic, fallback3-italic, serif;
        font-size: 14px;
        margin-top: 12px;
        text-align: center;
}

.text-body {
        color: #5f5e5d;
        font-family: Bodoni-Roman, fallback3, serif;
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 0;
        margin-top: 0;
}

.text-body span {
        font-family: Bodoni-Italic, fallback3-italic, serif;
}

.text-description {
        color: #5f5e5d;
        font-family: Bodoni-Roman, fallback3, serif;
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 0;
        margin-top: 0;
}

.text-description a span {
        font-family: Bodoni-Italic, fallback3-italic, serif;
}

.text-description a:link span, .text-description a:visited span {
        color: #222222;
}

.text-description a:hover span, .text-description a:focus span, .text-description a:active span {
        text-decoration: underline;
}

.text-heading {
        color: #212121;
        font-family: NeueHaasGroteskDisp-Bold, fallback1, fallback2, sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
        margin-bottom: 0;
        margin-top: 0;
}

.text-subheading {
        color: #5f5e5d;
        font-family: NeueHaasGroteskDisp-Bold, fallback1, fallback2, sans-serif;
        font-size: 11px;
        letter-spacing: 1px;
        margin-bottom: 12px;
        margin-top: 0;
}

.text-title {
        color: #212121;
        font-family: NeueHaasGroteskDisp-Bold, fallback1, fallback2, sans-serif;
        font-size: 17px;
        letter-spacing: 1px;
        line-height: 19px;
        margin-bottom: 12px;
        margin-top: 0;
}

.text-subheading span {
        font-family: NeueHaasGroteskText-Italic, fallback1-italic, fallback2-italic, sans-serif;
}

@media (min-width: 400px) {
        .content-intro {
            max-width: 480px;
        }
        .text-annotation {
            font-size: 16px;
        }
        .text-body, .text-description {
            font-size: 16px;
            line-height: 30px;
        }
        .text-heading {
            font-size: 28px;
            line-height: 28px;
            margin-bottom: 4px;
        }
        .text-subheading {
            font-size: 13px;
        }
        .text-title {
            
        }
}

@media (min-width: 528px) {
        .content-intro, .content-section {
            margin-left: auto;
            margin-right: auto;
        }
        .portfolio-video {
            margin-left: auto;
            margin-right: auto;
        }
}

@media (min-width: 768px) {
        .banner {
            height: 360px;
            width: auto;
        }     
        .banner-helper {
            height: 360px;
        }
        .content-intro {
            margin-top: 72px;
        }
        .content-portfolio {
            margin-top: 188px;
        }
        .content-section {
            padding-top: 0;
        }
        .divider {
            margin-top: 72px;
            margin-bottom: 72px;
        }
        .duo-image {
            margin-bottom: 48px;
        }
        .duo-image .cell:nth-child(1) {
            margin-bottom: 0; 
        }
        .feature-helper {
            margin-bottom: 48px;
        }
        .portfolio-video {
            margin-bottom: 48px;
        }
        .portfolio-video.large {
            max-width: 720px;
        }
        .text-heading {
            font-size: 32px;
            line-height: 32px;
        }
        .text-body {
            font-size: 18px;
            line-height: 32px;
        }
}/*end @media 768*/

@media (min-width: 1024px) {
        .content-intro {
            margin-top: 96px;
        }
        .content-portfolio {
            margin-left: 342px; /*change if the nav component is set to variable width*/
            margin-top: 0;
        }
        .divider {
            margin-top: 96px;
            margin-bottom: 96px;
        }
        .text-title {
            font-size: 21px;
        }
}/*end @media 1024*/

@media (min-width: 1280px) {
        .content-portfolio {
            margin-left: 426px;
        }
}/*end @media 1280*/

@media (min-width: 1440px) {
        .banner {
            height: 480px;
        }
        .banner-helper {
            height:480px;
        }
}/*end @media 1440*/

@media (min-width: 1920px) {
        .portfolio-video {
            max-width: 720px;
        }
        .content-portfolio {
            margin-left: 640px;
        }
}/*end @media 1920*/

@media (min-width: 2560px) {
        .content-portfolio {
            margin-left: 853px;
        }
}/*end @media 2560*/

/* END PORTFOLIO PAGE CONTENT Component
     >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */



/* RESUME PAGE Component
     <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.content-intro.resume {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 48px;
}

.content-main.resume {
        margin-left: 24px;
        margin-right: 24px;
        max-width: 960px;
}

.content-portfolio.resume {
        margin-top: 48px;
}

.content-section.resume {
        align-self: center; /*works with display:flex on ".cell"*/
        margin-bottom: 48px;
        max-width: 480px;
        padding: 0 0 0 0;
}

.content-section.resume .text-body.resume {
        margin-bottom: 0;
}

.content-section.resume .text-subheading.resume {
        margin-bottom: 0;
}

.resume-pdf{
        border-bottom: 1px solid #cccccc;
        border-top: 1px solid #cccccc;
        height: 48px;
        margin-top: 48px;
        text-align: center;
}
.resume-pdf a .link-wrapper {
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        display: inline-block;
        height: 48px;
        line-height: 48px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}

.resume-pdf a .link-wrapper p{
        color: #5f5e5d;
        display: inline;
        font-family: Bodoni-Italic, fallback3-italic, serif;
        font-size: 14px;
        letter-spacing: 1px;
        margin-left: 24px;
        margin-right: 24px;
}

.text-body.resume {
        color: #5f5e5d;
        font-family: Bodoni-Roman, fallback3, serif;
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 48px;
        margin-top: 0;
}

.text-body.resume.multi {
        margin-bottom: 24px;
}

.text-body.resume span {
        font-family: Bodoni-Italic, fallback3-italic, serif;
}

.text-category.resume {
        color: #5f5e5d;
        font-family: Bodoni-BoldItalic, fallback4-italic, serif;
        font-size: 16px;
        letter-spacing: 6px;
        line-height: 16px;
        margin: 0 0 24px 0;
}

.text-description.resume {
        color: #5f5e5d;
        font-family: Bodoni-Roman, fallback3, serif;
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 24px;
        margin-top: 0;
}

.text-heading.resume {
        color: #212121;
        font-family: NeueHaasGroteskDisp-Bold, fallback1, fallback2, sans-serif;
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 0;
        margin-top: 0;
}

.text-subheading.resume {
        color: #5f5e5d;
        font-family: NeueHaasGroteskDisp-Bold, fallback1, fallback2, sans-serif;
        font-size: 11px;
        letter-spacing: 1px;
        margin-bottom: 12px;
        margin-top: 0;
}

.text-subheading.resume.multi {
        margin-bottom: 0;
}

.text-title.resume {
        color: #212121;
        font-family: NeueHaasGroteskDisp-Bold, fallback1, fallback2, sans-serif;
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 4px;
        margin-top: 0;
}

.text-subheading.resume span {
        font-family: NeueHaasGroteskText-Italic, fallback1-italic, fallback2-italic, sans-serif;
}

@media (min-width: 400px) {
        .content-intro.resume {
            max-width: 480px;
        }
        .text-body.resume, .text-description.resume {
            font-size: 16px;
            line-height: 30px;
        }
        .text-category.resume {
            font-size: 20px;
            line-height: 20px;
        }
        .text-heading.resume, .text-title.resume {
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 4px;
        }
        .text-subheading.resume {
            font-size: 13px;
        }
}

@media (min-width: 528px) {
        .content-intro.resume, .content-section.resume {
            margin-left: auto;
            margin-right: auto;
        }
}

@media (min-width: 768px) {
        .cell.resume {
            display: flex;
            justify-content: center;
            margin-left: 12px;
            margin-right: 12px;
        }
        .content-helper.resume {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-top: 72px;
            max-width: 720px;
        }
        .content-intro.resume {
            border-left: 1px solid #cccccc;
            flex: 2 0 0;
                -webkit-flex: 2 0 0;
            margin-bottom: 72px;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
            order: 2;
            padding-left: 24px;
        }
        .content-main.resume {
            flex: 1 0 0;
                -webkit-flex: 1 0 0;
            margin-left: 0;
            order: 1;
        }
        .content-portfolio.resume {
            margin-top: 188px;
        }
        .content-section.resume {
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
        }
        .content-section.resume .text-category.resume {
            text-align: right;
        }
        .content-section.resume .text-subheading.resume, .content-section.resume .text-body.resume {
            text-align: right;
        }
        .resume-pdf {
            margin-top: 72px;
        }
        .text-body.resume.last {
            margin-bottom: 0;
        }
        .text-description.resume, .text-title.resume {
            text-align: right;
        }
        
}/*end @media 768*/

@media (min-width: 1024px) {
        .content-helper.resume {
            display: block;
            max-width: 480px;
        }
        .content-intro.resume {
            border-left: none;
            display: block;
            max-width: 480px;
        }
        .content-main.resume {
            display: block;
            margin-left: 24px;
        }
        .content-portfolio.resume {
            margin-left: 342px; /*change if the nav component is set to variable width*/
            margin-top: 0;
        }
        .content-section.resume .text-category.resume {
            text-align: left;
        }
        .content-section.resume .text-subheading.resume, .content-section.resume .text-body.resume {
            text-align: left;
        }
        .text-description.resume, .text-title.resume {
            text-align: left;
        }
}/*end @media 1024*/

@media (min-width: 1110px) {
        .content-helper.resume {
            display: flex;
            max-width: 720px;
        }
        .content-intro.resume {
            border-left: 1px solid #cccccc;
            margin-left: 0;
            margin-right: 0;
        }
        .content-main.resume {
            margin-left: 0;
            order: 1;
        }
        .content-section.resume .text-category.resume {
            text-align: right;
        }
        .content-section.resume .text-subheading.resume, .content-section.resume .text-body.resume {
            text-align: right;
        }
        .text-description.resume, .text-title.resume {
            text-align: right;
        }
}

@media (min-width: 1280px) {
        .content-portfolio.resume {
            margin-left: 426px;
        }
        .flex-grid .col {
            height: 400px;
            max-height: 400px;
            max-width: 400px;
        }
}/*end @media 1280*/

@media (min-width: 1440px) {
        .flex-grid .col {
            height: 480px;
            max-height: 480px;
            max-width: 480px;
        }
}/*end @media 768*/

@media (min-width: 1920px) {
        .content-portfolio.resume {
            margin-left: 640px;
        }
}/*end @media 1920*/

@media (min-width: 2560px) {
        .content-portfolio.resume {
            margin-left: 853px;
        }
}/*end @media 2560*/

/* END RESUME PAGE Component
     >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* ABOUT PAGE Component
     <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.content-portfolio.about.flex-grid {
        display: block;
}

.content-intro.about {
        margin-top: 48px;
}

@media (min-width: 768px) {
        .content-intro.about {
            margin-top: 72px;
        }
        .content-portfolio.about {
            margin-top: 188px;
        }
}

@media (min-width: 1024px) {
        .banner-helper.about {
            display: none;
        }
        .content-intro.about {
            margin-left: 0;
            margin-right: 0;
        }
        .content-portfolio.about {
            height: 100vh;
            margin-top: 0;
        }
        .content-portfolio.about.flex-grid {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .divider.about {
            margin-bottom: 0;
        }
}

/* END ABOUT PAGE Component
     >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */




/*-----FOUNDATION 6-----*/

@charset "UTF-8";
/**
 * Foundation for Sites by ZURB
 * Version 6.2.3
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */



/* HTML5 display definitions
     ========================================================================== */
/**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
/*audio,
canvas,
progress,
video {
  display: inline-block;*/
  /* 1 */
/*  vertical-align: baseline;
  /* 2 */ /*}*/

/**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
   */
[hidden],
template {
  display: none; }

/* Links
     ========================================================================== */
/**
   * Remove the gray background color from active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * Improve readability of focused elements when they are also in an
   * active/hover state.
   */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
     ========================================================================== */
/**
   * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
   */
abbr[title] {
  border-bottom: 1px dotted; }

/**
   * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
   */
b,
strong {
  font-weight: bold; }

/**
   * Address styling not present in Safari and Chrome.
   */
dfn {
  font-style: italic; }

/**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
   * Address styling not present in IE 8/9.
   */
mark {
  background: #ff0;
  color: #000; }

/**
   * Address inconsistent and variable font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove border when inside `a` element in IE 8/9/10.
   */
img {
  border: 0; }

/**
   * Correct overflow not hidden in IE 9/10/11.
   */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
     ========================================================================== */
/**
   * Address margin not present in IE 8/9 and Safari.
   */
figure {
  margin: 1em 40px; }

/**
   * Address differences between Firefox and other browsers.
   */
hr {
  box-sizing: content-box;
  height: 0; }

/**
   * Contain overflow in all browsers.
   */
pre {
  overflow: auto; }

/**
   * Address odd `em`-unit font size rendering in all browsers.
   */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }