/* Hello World! */

a {
        text-decoration: none;
}

a.svg {
        position: relative;
        display: inline-block; 
}

a.svg:after {
        content: ""; 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left:0;
}

.container {
        overflow:hidden;
}

.hyperlink:hover {
        text-decoration: line-through;
}

.hyperlink:active {
        text-decoration: line-through;
}

.hyperlink-currentpage {
        text-decoration: line-through;
}

img {
    vertical-align: middle;
}


/* NAV Component
     ========================================================================== */

nav {

}

.nav-content-background{
        background-color: #212121;
                -moz-background-clip: padding;
                -webkit-background-clip: padding;
                background-clip: padding-box;
        height: 48px;
        min-width: 100%;
        position: fixed;
        top: 0;
        z-index: 2;
}

.nav-heading .outer-heading-ul{
        margin: 0;
        padding: 0;

}

.nav-heading .outer-heading-ul li{
        display: inline-block;
}

.nav-heading .outer-heading-ul > li:nth-child(1) { /*logo*/
        display: none;
        line-height: 0;
}

.nav-heading .outer-heading-ul > li:nth-child(2){ /*menu icon*/
        height: 24px;
        margin-left: 12px;
        padding-top: 12px;
        width: 24px;
}

.nav-heading .outer-heading-ul li .inner-heading-ul {
        padding-left: 0;
}

.nav-heading .outer-heading-ul li .inner-heading-ul li:nth-child(1){ /*title name*/
        margin-left: 12px;
        padding-top: 12px;
}

.nav-heading .outer-heading-ul li .inner-heading-ul li:nth-child(2){ /*title subheading*/
        display: none;
        margin-left: 12px;
}

.nav-helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
}


.nav-links {
        /*display: none;*/ /*change back after having designed the style of the nav*/
        background-color: #212121;
        display: none;
        height: 100%;
        position: fixed;
        width: 100%;
        font-family: "Bodoni-Italic";
        top: 0;
        z-index: 2;
}

.nav-links a {
        
}

.nav-links .nav-links-content {
        height: initial; /*must be specifically set to override user agent stylesheet default properties*/
}

.nav-links .nav-links-content .ul-wrapper {
        display: block;
}

.nav-links-content .ul-wrapper ul.pagenav {
        display: block;
        margin-left: auto;
        padding-left: 0; /*must be set to override user agent stylesheet default property*/
        /*position: relative;*/ /*because vertical-alignment is goddamn impossible for some reason*/
        /*top: -6px;*/ /*this value might have to be adjusted in future layouts*/
}

.nav-links-content .ul-wrapper ul.pagenav li {
        border-top: 1px solid #727272; /*[TASK]: Need to find a way to get this to a height of 48px*/
        display: block;
}

.nav-links-content .ul-wrapper ul.pagenav li:nth-child(1) {
        height: 48px;
}

.nav-links-content .ul-wrapper ul.pagenav li:nth-child(4) {
        border-bottom: 1px solid #727272;
}

.nav-links-content .ul-wrapper ul.pagenav li .link-container {
        height: 48px;
        line-height: 48px;
        text-align: center;
}

.nav-links-content .ul-wrapper ul.pagenav li a {
        color: #eeeeee;
        font-family: "Bodoni-Italic";
        font-size: 14px;
        letter-spacing: 1px;
        margin-left: auto;
        margin-right: auto;
}

.nav-links-content .ul-wrapper {
        text-align: center;
}

.nav-links-content .ul-wrapper ul.socialicon {
        display: inline-block;
        line-height: 0; /*prevents element from having unwanted bottom space*/
        padding-left: 0; /*must be set to override user agent stylesheet default property*/
        padding-top: 12px;
}

.nav-links-content .ul-wrapper ul.socialicon li {
        display: inline-block;
        margin-bottom: 12px;
        margin-left: 24px;
        margin-top: 12px;
}

.nav-links-content .ul-wrapper ul.socialicon li:nth-child(4) {
        margin-right: 24px;
}

#nav-links-overlay {
        
}

.nav-logo-svg {
        height: 72px;
        width: auto;
}

.nav-menuclose-svg {
        height: 24px;
        position: absolute;
        left: 12px;
        top: 12px;
        width: auto;
}

.nav-menuicon-svg {
        height: 18px;
        padding-left: 3px;
        padding-top: 3px;
        width: 18px;
}

.nav-name-svg {
        height: 14px;
        width: auto;
}

.nav-socialicon-svg {
        height: 24px;
        width: auto;
}

.nav-subheading-svg{
        height: 8.25px;
        width: auto;
}

@media (min-width: 768px) {
        .nav-content-background{
            height: 188px;
        }
        .nav-heading .outer-heading-ul {
            display: flex;
            justify-content: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                -webkit-box-align: center;
                align-items: center;
            padding-bottom: 24px;
            padding-top: 24px;
        }
        .nav-heading .outer-heading-ul li {
        }
        .nav-heading .outer-heading-ul li:nth-child(1) { /*logo container*/
            display: inherit;
        }
        .nav-heading .outer-heading-ul li:nth-child(2){ /*menu icon container*/
            display: none;
        }
        .nav-heading .outer-heading-ul li .inner-heading-ul li {
        }
        .nav-heading .outer-heading-ul li .inner-heading-ul li:nth-child(1){
            display: block;
            line-height: 0;
            padding-top: 0;
        }
        .nav-heading .outer-heading-ul li .inner-heading-ul li:nth-child(2){ /*title subheading*/
            display: block;
            line-height: 0;
            margin-left: 10px;
            padding-top: 6px;
        }
        .nav-links {
            background-color: initial;
            display: initial;
            height: initial;
            position: initial;
            width: initial;
        }
        .nav-links .nav-links-content {
            border-bottom: 1px solid #727272;
            border-top: 1px solid #727272;
            height: 48px; /*must be specifically set to override user agent stylesheet default properties*/
        }
        .nav-links .nav-links-content .ul-wrapper {
            display: flex;
                justify-content: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    -webkit-box-align: center;
                    align-items: center;
        }
        .nav-links-content .ul-wrapper ul.pagenav {
            display: flex;
                justify-content: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    -webkit-box-align: center;
                    align-items: center;
            margin-left: auto;
            padding-left: 0; /*must be set to override user agent stylesheet default property*/
            /*position: relative;*/ /*because vertical-alignment is goddamn impossible for some reason*/
            /*top: -6px;*/ /*this value might have to be adjusted in future layouts*/
        }
        .nav-links-content .ul-wrapper ul.pagenav li {
            border-left: 1px solid #727272; /*[TASK]: Need to find a way to get this to a height of 48px*/
            border-top: initial;
            display: inline; /*keeps nav text elements in horizontal line*/
        }
        .nav-links-content .ul-wrapper ul.pagenav li:nth-child(1) {
            display: none;
        }
        .nav-links-content .ul-wrapper ul.pagenav li:nth-child(4) {
            border-bottom: initial;
            border-right: 1px solid #727272;
        }
        .nav-links-content .ul-wrapper ul.pagenav li a {
            margin-left: 24px;
            margin-right: 24px;
        }
        .nav-links-content .ul-wrapper ul.socialicon {
            border-right: 1px solid #727272;
            margin-left: initial;
            margin-right: auto;
            padding-top: initial;
        }
        .nav-name-svg { /*title name*/
            height: 20px;
        }
}/*end @media 768*/

@media (min-width: 1024px) {
        .nav-content {
            
        }
        .nav-content-background {
            height: 100%;
            left: 0;
            min-width: initial;
            width: 342px;
            display: flex;
                flex-direction: column;
                justify-content: center;
        }
        .nav-content-wrapper {
            padding-bottom: 96px;
        }
        .nav-heading .outer-heading-ul {
            padding-top: 0;
            flex-direction: column;
        }
        .nav-heading .outer-heading-ul li {
            /*display: none;*/
        }
        .nav-heading .outer-heading-ul li .inner-heading-ul li:nth-child(1) { /*title name container*/
            padding-top: 24px;
        }
        .nav-links .nav-links-content .ul-wrapper {
            flex-direction: column;
        }
        .nav-links .nav-links-content .ul-wrapper .pagenav {
            margin-right: auto;
        }
        .nav-links .nav-links-content .ul-wrapper .socialicon {
            border-right: initial;
            margin-left: auto;
            padding-top: 12px;
        }
        .nav-logo-svg {
            height: 84px;
            width: auto;
        }
}/*end @media 1024*/

@media (min-width: 1280px) {
        .nav-content-background {
            width: 426px;
        }
}/*end @media 1280*/

@media (min-width: 1920px) { /*big fuggin monitors*/
        .nav-content-background {
            width: 640px;
        }
        .nav-links-content .ul-wrapper ul.pagenav li a {
            color: #eeeeee;
            font-family: "Bodoni-Italic";
            font-size: 21px;
            letter-spacing: 1px;
            margin-left: 24px;
            margin-right: 24px;
        }
        .nav-logo-svg {
            height: 108px;
            width: auto;
        }
            
        .nav-name-svg {
            height: 30px;
            width: auto;
        }
            
        .nav-socialicon-svg {
            height: 36px;
            width: auto;
        }
            
        .nav-subheading-svg{
            height: 12.5px;
            width: auto;
        }
}/*end @media 1920*/

@media (min-width: 2560px) { /*really big fuggin monitors*/
        .nav-content-background {
            width: 853px;
        }
}/*end @media 2560*/

/* ========================================================================== */



/* INDEX CONTENT Component
     ========================================================================== */

.col {
        height: 0;
        margin: 0 12px 12px 12px;
        padding-bottom: 92.5%;
        max-width: 100%;
}

.content {
        margin-top: 60px;
}

.flex-grid {
        display: block;
}

.img-scale {
        height: auto;
        max-width: 100%;
}

@media (min-width: 768px) {
        .content {
            margin-top: 200px;
        }
        .content-portfolio {
            margin-top: 188px;
        }
        .flex-grid {
            display: flex;
            justify-content: center;
        }
        .flex-grid .col {
            flex: 1;
            height: 320px;
            margin-left: 0;
            margin-right: 0;
            max-height: 320px;
            max-width: 320px;
            padding-bottom: 0;
        }
        .flex-grid .col:nth-child(1) {
            margin-right: 12px;
        }
}/*end @media 768*/

@media (min-width: 1024px) {
        .content {
            margin-left: 342px; /*change if the nav component is set to variable width*/
            margin-top: 12px;
        }
}/*end @media 1024*/

@media (min-width: 1280px) {
        .content {
            margin-left: 426px;
        }
        .flex-grid .col {
            height: 400px;
            max-height: 400px;
            max-width: 400px;
        }
}/*end @media 1280*/

@media (min-width: 1440px) {
        .flex-grid .col {
            height: 480px;
            max-height: 480px;
            max-width: 480px;
        }
}/*end @media 768*/

@media (min-width: 1920px) {
        .content {
            margin-left: 640px;
        }
}/*end @media 1920*/

@media (min-width: 2560px) {
        .content {
            margin-left: 853px;
        }
}/*end @media 2560*/

/* ========================================================================== */

/* PORTFOLIO PAGE CONTENT Component
     ========================================================================== */

/*.banner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        right: -100%;
        margin: auto;
        height: 240px;
        width:504px;
}*/

.banner {
        height: 240px;
        width: auto;
        position: absolute;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        top: -9999px;
        margin: auto;
}

.banner-helper {
        height: 240px;
        max-width: 100%;
        overflow: hidden;
        position: relative;
}

.banner-wrapper {
        position: absolute;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        top: -9999px;
        margin: auto;
}

.border {
        border: 1px solid #cccccc;
}

.cell {
        display: flex;
            justify-content: center;
        margin-left: 12px;
        margin-right: 12px;
}

.content-intro {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 48px;
}

.content-main {
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
}

.content-portfolio {
        margin-top: 48px;
}

.content-section {
        align-self: center; /*works with display:flex on ".cell"*/
        max-width: 480px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 24px;
}

.divider {
        display: block; /*allows for margin:auto*/
        margin: 42px auto 48px auto;
}

.portfolio-image {
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 480px;
}

.text-body {
        color: #5f5e5d;
        font-family: Bodoni-Roman;
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 0;
        margin-top: 0;
}

.text-description {
        color: #5f5e5d;
        font-family: Bodoni-Roman;
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 0;
        margin-top: 0;
}

.text-heading {
        color: #212121;
        font-family: NeueHaasGroteskDisp-Bold;
        font-size: 20px;
        letter-spacing: 1px;
        margin-bottom: 0;
        margin-top: 0;
}

.text-subheading {
        color: #5f5e5d;
        font-family: NeueHaasGroteskDisp-Bold;
        font-size: 11px;
        letter-spacing: 1px;
        margin-bottom: 12px;
        margin-top: 0;
}

.text-title {
        color: #212121;
        font-family: NeueHaasGroteskDisp-Bold;
        font-size: 17px;
        letter-spacing: 1px;
        line-height: 19px;
        margin-bottom: 12px;
        margin-top: 0;
}

.text-subheading span {
        font-family: NeueHaasGroteskText-Italic;
}

@media (min-width: 400px) {
        .content-intro {
            max-width: 480px;
        }
        .text-body, .text-description {
            font-size: 16px;
            line-height: 30px;
        }
        .text-heading {
            font-size: 28px;
            line-height: 28px;
            margin-bottom: 4px;
        }
        .text-subheading {
            font-size: 13px;
        }
        .text-title {
            
        }
}

@media (min-width: 528px) {
        .content-intro, .content-section {
            margin-left: auto;
            margin-right: auto;
        }
}

@media (min-width: 768px) {
        .banner {
            height: 360px;
            width: auto;
        }     
        .banner-helper {
            height: 360px;
        }
        .content-intro {
            margin-top: 72px;
        }
        .content-portfolio {
            margin-top: 188px;
        }
        .content-section {
            padding-top: 0;
        }
        .divider {
            margin-top: 72px;
            margin-bottom: 72px;
        }
        .text-heading {
            font-size: 32px;
            line-height: 32px;
        }
        .text-body {
            font-size: 18px;
            line-height: 32px;
        }
}/*end @media 768*/

@media (min-width: 1024px) {
        .content-intro {
            margin-top: 96px;
        }
        .content-portfolio {
            margin-left: 342px; /*change if the nav component is set to variable width*/
            margin-top: 0;
        }
        .divider {
            margin-top: 96px;
            margin-bottom: 96px;
        }
}/*end @media 1024*/

@media (min-width: 1280px) {
        .content-portfolio {
            margin-left: 426px;
        }
        .flex-grid .col {
            height: 400px;
            max-height: 400px;
            max-width: 400px;
        }
}/*end @media 1280*/

@media (min-width: 1440px) {
        .banner {
            height: 480px;
        }
        .banner-helper {
            height:480px;
        }
        .flex-grid .col {
            height: 480px;
            max-height: 480px;
            max-width: 480px;
        }
}/*end @media 768*/

@media (min-width: 1920px) {
        .content-portfolio {
            margin-left: 640px;
        }
}/*end @media 1920*/

@media (min-width: 2560px) {
        .content-portfolio {
            margin-left: 853px;
        }
}/*end @media 2560*/

/* ========================================================================== */

object {
    display: inline-block;
}

ul {
        list-style: none;
        -webkit-margin-before:0em;
        -webkit-margin-after:0em;
}

/*-----FONTS-----*/

@font-face {
    font-family: NeueHaasGroteskDisp-Bold;
    src: url(../fonts/NeueHaasGroteskDisp-Bold.TTF);
}

@font-face {
    font-family: NeueHaasGroteskText-Italic;
    src: url(../fonts/NeueHaasGroteskText-Italic.ttf);
}

@font-face {
    font-family: Bodoni-BoldItalic;
    src: url(../fonts/Bodoni-BoldItalic.otf);
}

@font-face {
    font-family: Bodoni-Roman;
    src: url(../fonts/Bodoni-Roman.otf);
}

@font-face {
    font-family: Bodoni-Italic;
    src: url(../fonts/Bodoni-Italic.otf);
}

/*-----FOUNDATION 6-----*/

@charset "UTF-8";
/**
 * Foundation for Sites by ZURB
 * Version 6.2.3
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
   * 1. Set default font family to sans-serif.
   * 2. Prevent iOS and IE text size adjust after device orientation change,
   *    without disabling user zoom.
   */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ 
  font-size: 100%;
  box-sizing: border-box; }

/**
   * Remove default margin.
   */
body {
        margin: 0;
        padding: 0;
        margin: 0;
        font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-weight: normal;
        line-height: 1.5;
        background-color: #f5f5f5;
        /*&background: linear-gradient(#f5f5f5, #e8e8e8);
            background: -webkit-linear-gradient(#f5f5f5, #e8e8e8);
            background: -o-linear-gradient(#f5f5f5, #e8e8e8);
            background: -moz-linear-gradient(#f5f5f5, #e8e8e8);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-attachment: fixed;*/
    }

/*img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle; }*/

/* HTML5 display definitions
     ========================================================================== */
/**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
   */
[hidden],
template {
  display: none; }

/* Links
     ========================================================================== */
/**
   * Remove the gray background color from active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * Improve readability of focused elements when they are also in an
   * active/hover state.
   */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
     ========================================================================== */
/**
   * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
   */
abbr[title] {
  border-bottom: 1px dotted; }

/**
   * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
   */
b,
strong {
  font-weight: bold; }

/**
   * Address styling not present in Safari and Chrome.
   */
dfn {
  font-style: italic; }

/**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
   * Address styling not present in IE 8/9.
   */
mark {
  background: #ff0;
  color: #000; }

/**
   * Address inconsistent and variable font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove border when inside `a` element in IE 8/9/10.
   */
img {
  border: 0; }

/**
   * Correct overflow not hidden in IE 9/10/11.
   */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
     ========================================================================== */
/**
   * Address margin not present in IE 8/9 and Safari.
   */
figure {
  margin: 1em 40px; }

/**
   * Address differences between Firefox and other browsers.
   */
hr {
  box-sizing: content-box;
  height: 0; }

/**
   * Contain overflow in all browsers.
   */
pre {
  overflow: auto; }

/**
   * Address odd `em`-unit font size rendering in all browsers.
   */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }